@reference "../../styles/tailwind.css";

mux-player {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}

[data-video-embed-page] {
	mux-player {
		margin-bottom: 0;
	}
}

mux-player::part(center play button) {
	@apply sm:scale-50;
	--media-control-background: transparent;
	--media-control-hover-background: transparent;
}

mux-player::part(vertical-layer) {
	background-color: rgba(0, 0, 0, 0);
}

mux-player::part(listbox) {
	--media-listbox-layout: column;
}
