@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* light mode (or inverted) */
	:root,
	.dark .invert-theme,
	.dark .invert-theme .invert-theme .invert-theme {
		--font-sans: Neogrotesk;
		--font-mono: IBM Plex Mono;

		--background: 0 0% 100%;
		--foreground: 0 0% 0%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-danger: 345 82.7% 40.8%;

		--highlight: 220 85% 60%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		/* scrollbars can't be hsl I guess */
		--scrollbar: #e5e5e5;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 224 71% 4%;
		--primary-foreground: 213 31% 91%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	/* dark mode (or inverted) */
	.dark,
	.light .invert-theme,
	.light .invert-theme .invert-theme .invert-theme {
		--background: 230 16% 14%;
		--foreground: 230 20% 96%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-danger: -4 68% 52%;

		--highlight: 220 90% 75%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		/* scrollbars can't be hsl I guess */
		--scrollbar: #3a3a3a;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--border: 230 6% 30%;
		--input: 216 34% 17%;

		--primary: 0 0% 100%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
	html {
		height: -webkit-fill-available;
	}

	body {
		height: -webkit-fill-available;
	}
}

@layer utilities {
	.slideRightContent {
		transform-origin: var(--radix-popover-content-transform-origin);
		animation: slideRight 0.25s ease-out;
	}

	.slideUpContent {
		transform-origin: var(--radix-popover-content-transform-origin);
		animation: slideUp 0.25s ease-out;
	}
}

@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
